-r requirements.txt

django-debug-toolbar

# Static analysis
requests  # That's because some packages may try to fix the version of request
pre-commit
black >=21.7b0
isort >= 5.9.3
flakehell
flake8-print  # Forbid print statement in code use logging. instead
flake8-bugbear  # Catch common errors
flake8-printf-formatting  # forbid %s use fstring instead
mccabe
mypy >= 0.910
devtools
pytest
pytest-django
